.Product-Adding-Container {
  max-width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

label {
  font-weight: 600;
  margin-bottom: 4px;
}

input {
  padding: 6px;
}
.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background: darkred;
}
