<div class="Shops">
  <h2>Shop List</h2>

  <div *ngIf="shops.length === 0">No Shops found.</div>

  <table *ngIf="shops.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of shops">
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="Product-Adding-Container">
  <h2>Create Product</h2>

  <form #ProductForm="ngForm" (ngSubmit)="AddProduct(ProductForm)">
    <div class="form-group">
      <label for="shopId">Shop Id</label>
      <input
        id="shopId"
        type="number"
        placeholder="Enter Shop Id default 1."
        [(ngModel)]="shopId"
        name="shopId"
        required
      />
    </div>
    <div class="form-group">
      <label for="barcode">Barcode</label>
      <input
        id="barcode"
        type="text"
        placeholder="Enter barcode"
        [(ngModel)]="newProduct.barcode"
        name="barcode"
        required
      />
    </div>

    <div class="form-group">
      <label for="name">Product Name</label>
      <input
        id="name"
        type="text"
        placeholder="Enter product name"
        [(ngModel)]="newProduct.name"
        name="name"
        required
      />
    </div>

    <div class="form-group">
      <label for="purchasePrice">Purchase Price</label>
      <input
        id="purchasePrice"
        type="number"
        placeholder="Enter purchase price"
        [(ngModel)]="newProduct.purchasePrice"
        name="purchasePrice"
        required
      />
    </div>

    <div class="form-group">
      <label for="salePrice">Sale Price</label>
      <input
        id="salePrice"
        type="number"
        placeholder="Enter sale price"
        [(ngModel)]="newProduct.salePrice"
        name="salePrice"
        required
      />
    </div>

    <div class="form-group">
      <label for="stockQuantity">Stock Quantity</label>
      <input
        id="stockQuantity"
        type="number"
        placeholder="Enter stock quantity"
        [(ngModel)]="newProduct.stockQuantity"
        name="stockQuantity"
        required
      />
    </div>

    <button type="submit">Add</button>
  </form>
</div>
<div class="product-list">
  <h2>Product List</h2>

  <div *ngIf="products.length === 0">No products found.</div>

  <table *ngIf="products.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Is Active</th>
        <th>Barcode</th>
        <th>Name</th>
        <th>Purchase</th>
        <th>Sale</th>
        <th>Stock</th>
        <th>Price Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.id }}</td>
        <td>{{ p.active }}</td>
        <td>{{ p.barcode }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.purchasePrice }}</td>
        <td>{{ p.salePrice }}</td>
        <td>{{ p.stockQuantity }}</td>
        <td>
          <input
            type="number"
            [(ngModel)]="priceUpdate.amount"
            name="amount{{ p.id }}"
            placeholder="Amount"
            style="width: 70px"
          />

          <label>
            <input type="checkbox" [(ngModel)]="priceUpdate.percent" name="percent{{ p.id }}" />
            %
          </label>

          <button (click)="updatePrice(p.id)">OK</button>
        </td>
        <td>
          <button class="delete-btn" (click)="deleteProduct(p.id)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="Product-Adding-Container">
  <input
    type="text"
    [(ngModel)]="barcodeInput"
    (keyup.enter)="searchProduct()"
    placeholder="Barkod okut"
  />
</div>
